form {
  width: 30%;
  margin: 5% auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 10px 0 #ccc;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

label,
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 50%;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 2rem auto;
}

button[type="submit"]:hover {
  background-color: steelblue;
}

p {
  margin-top: 1rem;
  color: red;
}
